body {
  background-color: #e5f5e4;
}

h1 {
  color: black;
  margin-left: 20px;
  font-weight: bold;
  font-family: Garamond, Times New Roman, Arial, Serif;
  font-size: 46px;
}

h2 {
  color: black;
  padding: 2px;
  margin-left: 20px;
  font-family: Garamond, Times New Roman, Arial, Serif;
  font-size: 30px;
}

h3 {
  color: black;
  padding: 2px;
  margin-left: 20px;
  font-family: Garamond, Times New Roman, Arial, Serif;
  font-size: 26px;
}

p {
  color: black;
  padding: 2px;
  margin-left: 20px;
  font-family: Garamond, Times New Roman, Arial, Serif;
  font-size: 18px;
}

.header {
	background-color: #aec2b7;
	padding: 16px;
}

.section {
	background-color: #aec2b7;
	padding: 8px;
}

button {
	background-color: #97a89f;
	width: 33.33%;
	height: 100%;
	text-align: center;
	padding: 15px;
	position: relative;
	border: 0px;
	float: left;
}

button:Hover {
	background-color: #839189;
}

hr {
	border: 2px transparent;
	padding: 3px;
}

img {
	padding: 24px;
	display: block;
}

li {
margin-left: 38px
}
